# emacs stuff
*~
auto-save-list
elpa
eln-cache
persistent-scratch
.persistent-scratch
recentf
projects
straight
transient
tabsession.el 
projectile-bookmarks.eld
.local
eshell
xenops
.DS_Store
.cache
url
tramp
*.cache